 body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #FFFCF1;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     color: #f4a261;
     text-align: center;
 }

 .container {
     max-width: 500px;
     padding: 20px;
     border: 2px solid #f4a261;
     border-radius: 12px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
     background-color: #FFFCF1;
 }

 .logo {
     width: 20rem;
     height: auto;
     margin-bottom: 20px;
 }

 .button {
     margin-top: 20px;
     display: inline-block;
     padding: 10px 20px;
     font-size: 16px;
     background-color: #F35E1C;
     color: white;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     opacity: 0.8;
     text-decoration: none;
 }

 .button:hover {
     opacity: 1;
 }