body {
  font-family: Arial, sans-serif;
  background-color: #F4D8A4;
  height: 100vh;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh auto auto auto auto auto auto auto;
  grid-template-areas:
    "header"
    "hero"
    "services"
    "description"
    "package-description"
    "gallery"
    "comments"
    "footer";
}

section[id] {
  scroll-margin-top: 6rem;
}

#scrollTopButton {
  position: fixed;
  bottom: 1rem;
  right: 20px;
  display: none;
  background-color: #F35E1C;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
}

#scrollTopButton:hover {
  background-color: #f25512;
  transform: scale(1.1);
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #FFFCF1;
}

.logo {
  height: 100%;
  width: auto;
  color: #353030;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #303030;
}

/* Hero */

.hero {
  min-height: 40vh;
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 85vh;
  background-color: #f4f4f4;
  overflow: hidden;
  border-radius: 16px;
}

.hero-content {
  width: 100%;
  height: 100%;
}

.hero-background {
  background-image: url('https://images.unsplash.com/photo-1636711682911-9ab8ff3ff62a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-size: 32px;
}

.hero-text p {
  font-size: 24px;
}

.hero-content button {
  font-size: 16px;
  padding: 0.8rem;
  background-color: #F35E1C;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-content button:hover {
  background-color: #f25512;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.packages {
  background-color: #FDF4E3;
  padding: 2rem 1rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Paquetes */
.package-card {
  padding: 1.5rem;
  background: #FDF4E3;
  color: #353030;
  border-radius: 1rem;
  flex: 1 1 calc(33.333% - 2rem);
  max-width: 300px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.package-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.package-card img {
  border-radius: 0.8rem;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.package-card h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 600;
  color: #000000;
}

/* Media Queries para adaptabilidad */
@media (max-width: 768px) {
  .package-card {
    flex: 1 1 calc(50% - 2rem);
    /* 2 tarjetas por fila */
  }
}

@media (max-width: 480px) {
  .package-card {
    flex: 1 1 100%;
    /* 1 tarjeta por fila en móviles */
    max-width: 100%;
    /* Ancho completo */
  }

  .package-card h3 {
    font-size: 1rem;
    /* Reducir tamaño de texto en móviles */
  }
}



/* Descripción */
.description {
  min-height: 0vh;
  background-color: #F4D8A4;
  text-align: center;
  padding: 2rem;
}

.description-card {
  padding: 1cm;
  border: #FDF4E3;
  border-radius: 3cm;
  background: #FDF4E3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



.description-card h2 {
  font-size: 2rem; 
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description-card p {
  font-size: 1.1rem; /* Tamaño base para pantallas grandes */
  line-height: 1.6;
  color: #333;
  margin-bottom: 2rem;
}

/* Descripción de los paquetes */
.package-description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: #FDF4E3;
}

.package-description-card {
  background-color:#FDF4E3;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

.package-description-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.package-description-card h3 {
  font-size: 1.5rem;
  color: #0f0f0f;
  margin-bottom: 1rem;
  text-align: center;
}

.package-description-card p {
  font-size: 1rem;
  color: #353030;
  line-height: 1.6;
}

.package-description-card ul {
  list-style: none;
  padding: 0;
}

.package-description-card ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #353030;
}

.package-description-card ul li i {
  color: #f35e1c;
  font-size: 1rem;
}




/* Galería */

.gallery {
  background-color: #FDF4E3;
  padding: 2rem;
  text-align: center;
}

.carousel {
  position: relative;
  max-width: 90%;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.carousel-slide {
  flex: 0 0 80%; /* Controla el tamaño del slide */
  max-width: 400px; /* Tamaño máximo de cada imagen */
  height: 300px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.carousel-track-container ul{
  list-style: none;   
}

.carousel-btn {
  position: absolute;
  top: 50%;
  background-color: rgba(16, 23, 28, 0.473);
  color: rgb(255, 251, 251);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .carousel-slide {
    flex: 0 0 100%;
    max-width: 300px;
  }

  .carousel-btn {
    padding: 0.4rem;
  }
}

@media (max-width: 480px) {
  .carousel-slide {
    max-width: 250px;
  }
}

/* Sección de comentarios */

section.comments {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #FDF4E3;
  gap: 1rem;
}

.reviews-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 6rem;
  box-sizing: border-box;
}

.reviews-header {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.review-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 32%;
  height: auto;
  margin: 0;
}

.review-box {
  flex: 1 1 calc(20% - 10px);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
  background-color: #FDF4E3;
  padding: 20px;
  margin: 0;
  border-radius: 8px;
  text-align: left;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.box-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-details {
  text-align: left;
}

.user-details strong {
  color: #353030;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.user-details span {
  color: #089ba5;
  font-size: 0.8rem;
}

.review-stars {
  margin-top: 10px;
  color: #f9d71c;
  font-size: 0.5rem;
}

.customer-comment {
  font-size: 1rem;
  color: #353030;
  margin-top: 10px;
  line-height: 1.5;
}

.review-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}


/* Footer */

footer {
  background-color: #FFFCF1;
  color: #000000;
  padding: 20px 10%;
}

footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer-section {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

footer h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #f4a261;
}

footer a {
  color: #000000;
  text-decoration: none;
  margin: 5px 0;
  display: block;
}

footer a:hover {
  text-decoration: underline;
}

footer .social-icons {
  display: flex;
  gap: 10px;
}

footer .social-icons a {
  color: #000000;
  font-size: 20px;
}

footer .social-icons a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

footer .social-icons a img:hover {
  transform: scale(1.2);
}


footer .legal {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}